@for (visit of visits; track $index) {
    <table>
        <tr>
            <th>Fecha de Visita: </th>
            <td>{{visit.visitDate}}</td>
        </tr>
        <tr>
            <th>Description: </th>
            <td>{{visit.description}}</td>
        </tr>
        <tr>
            <th>Acciones: </th>
            <td><button type="button" [routerLink]="(['/visit-add', idPet, idOwner, visit.id])">Editar visita</button></td> || 
            <td><button type="button" (click)="borrarVisita(visit.id)">Borrar visita</button></td>
        </tr>
        <hr align="left" width="70%">
    </table>
}