<h2>Listado de detalles de la factura</h2>

<p>Detalle de la factura: <strong id="mostrarNumeroFactura">{{numeroFactura}}</strong></p>

<div>
    <button type="button" (click)="toggleForm(1, detalleFacturaForm)">Nuevo detalle</button>

    <br><br>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>CANTIDAD</th>
                <th>CONCEPTO</th>
                <th>PRECIO</th>
                <th>TIPO IVA</th>
                <th>IVA</th>
                <th>TOTAL</th>
                <th>EDITAR</th>
                <th>BORRAR</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let detalleFactura of detallesFactura">
                <td>{{detalleFactura.id}}</td>
                <td>{{detalleFactura.cantidad | number}}</td>
                <td>{{detalleFactura.concepto}}</td>
                <td>{{detalleFactura.precio | number}}</td>
                <td>{{detalleFactura.tipo_iva | number}}</td>
                <td>{{detalleFactura.iva | number}}</td>
                <td>{{detalleFactura.total | number}}</td>
                <td><button type="button" (click)="toggleForm(2, detalleFactura)">Editar</button></td>
                <td><button type="button"(click)="onClickBorrar(detalleFactura.id, detalleFactura.concepto)">Borrar</button></td>
            </tr>
            <tr>
                <td colspan="5">TOTALES</td>
                <td>{{totalesIVA | number}}</td>
                <td>{{totalesTotal | number}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <button type="button" [routerLink]="['/']">Volver atrás</button>
</div>

<br><br>

@if (mostrarFormulario) {
    <div id="formDetalle">
        <fieldset>
            <legend>Detalles de la factura</legend>
            <form #detalleForm="ngForm" (ngSubmit)="onSubmit(detalleForm.value)">
                <label for="cantidad">Cantidad: </label>
                <input type="number" id="cantidad" name="cantidad" [(ngModel)]="detalleFacturaForm.cantidad" required>
        
                <br><br>
              
                <label for="concepto">Concepto: </label>
                <input type="text" id="concepto" name="concepto" [(ngModel)]="detalleFacturaForm.concepto" required>
        
                <br><br>
              
                <label for="precio">Precio: </label>
                <input type="number" id="precio" name="precio" [(ngModel)]="detalleFacturaForm.precio" required>
        
                <br><br>
              
                <label for="tipo_iva">Tipo IVA: </label>
                <input type="number" id="tipo_iva" name="tipo_iva" [(ngModel)]="detalleFacturaForm.tipo_iva" required>
        
                <br><br>
        
                <input type="hidden" id="id" name="id" [(ngModel)]="detalleFacturaForm.id">
              
                <button type="submit" (click)="toggleForm(0, detalleFacturaForm)" [disabled]="!detalleForm.valid">{{textoBoton}}</button>
            </form> 
        </fieldset>     
    </div>
}