<h2>Lista de Personas</h2>
<div class="table-container">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr class="table-success">
        <th>ID</th>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellidos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of listaPer" class="table-secondary-emphasis">
        <td>{{ persona.id }}</td>
        <td>{{ persona.dni }}</td>
        <td>{{ persona.nombre }}</td>
        <td>{{ persona.apellidos }}</td>
      </tr>
    </tbody>
  </table>
</div>