<h2>Lista de Personas</h2>
<a routerLink="/personas-add/-1" role="button">Añadir persona (Rutas)</a>
<button type="button" (click)="iraNuevaPersona()">Añadir persona (programáticamente)</button>

<div class="table-container">
  <table border="1" class="table table-bordered table-striped table-hover">
    <thead>
      <tr class="table-success">
        <th>ID</th>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of listaPer" class="table-secondary-emphasis">
        <td>{{ persona.ID }}</td>
        <td>{{ persona.DNI }}</td>
        <td>{{ persona.NOMBRE }}</td>
        <td>{{ persona.APELLIDOS }}</td>
        <td><button (click)="borrarPersona(persona)">Borrar</button><button>Modificar</button></td>
      </tr>
    </tbody>
  </table>
</div>