<h1>Listado completo de Vets</h1>

<table border="1">
    <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Especialidades</th>
        <th>Editar</th>
        <th>Borrar</th>
    </thead>
    <tbody>
        @for (vet of vets; track $index) {
            <tr>
                <td>{{vet.id}}</td>
                <td>{{vet.firstName}}</td>
                <td>{{vet.lastName}}</td>
                <td>
                    @for (specialty of vet.specialties; track $index) {
                        @if (vet.specialties.length > 1) {
                            || {{specialty.name}}
                        } @else {
                            {{specialty.name}}
                        }
                    }
                </td>
                <td><button type="button">Editar</button></td>
                <td><button type="button">Borrar</button></td>
            </tr>
        }
    </tbody>
</table>

<button type="button" [routerLink]="(['/form-vet', -1])">Añadir Vet</button>