<h1>Nueva persona</h1>
<h3>Añadir nueva persona</h3>

<div id="formNvPers">
    <form action="">
        <label for="dni">DNI: </label>
        <br>
        <input type="text" name="dni" id="dni" required [(ngModel)]="persona.DNI" #dni="ngModel">
        <!--<div [hidden]="dni.valid || dni.pristine" >
            El DNI es obligatorio
        </div>-->

        <br><br>

        <label for="nombre">Nombre: </label>
        <br>
        <input type="text" name="nombre" id="nombre" required [(ngModel)]="persona.NOMBRE" #nombre="ngModel">
        <!--<div [hidden]="nombre.valid || nombre.pristine" >
            El NOMBRE es obligatorio
        </div>-->

        <br><br>

        <label for="apellidos">Apellidos: </label>
        <br>
        <input type="text" name="apellidos" id="apellidos" required [(ngModel)]="persona.APELLIDOS" #apellidos="ngModel">
        <!--<div [hidden]="apellidos.valid || apellidos.pristine" >
            El APELLIDO es obligatorio
        </div>-->

        <br><br>

        <button type="button">{{textoBoton}}</button>
        <button type="button" routerLink="/">Cancelar</button>
    </form>
</div>